[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pip = "*"
install = "*"
django-import-export = "*"
mysqlclient = "*"
django-admin-rangefilter = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.8"
