{% extends 'shared/_layout.html' %}

{% block title %}
    درباره ما
{% endblock %}

{% block content %}
<style>
	
	@font-face {
		font-family: "font1";
		src: url("static/fonts/Vazir.woff2") format("woff2"),
			url("fonts/Vazir.woff") format("woff");
	
	}
	*{
		font-family: "font1";
	}
	</style>
<body>
	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div>

	<!-- /Preload -->

	<div id="loader_form">
		<div data-loader="circle-side-2"></div>
	</div><!-- /loader_form -->

{#	<header>#}
{#		<div class="container-fluid">#}
{#			<div class="row">#}
{#				<div class="col-3">#}
{#					<a href="index.html"><img src="static/img/logo.png" alt="" width="49" height="35"></a>#}
{#				</div>#}
{#				<div class="col-9">#}
{##}
{#					<!-- /social -->#}
{#					<a href="#0" class="cd-nav-trigger">منو<span class="cd-icon"></span></a>#}
{#					<!-- /menu button -->#}
{#					<nav>#}
{#						<ul class="cd-primary-nav">#}
{#							<li><a href="home.html" class="animated_link">خانه</a></li>#}
{#							<li><a href="adminpage.html" class="animated_link">ورود ادمین</a></li>#}
{#							<li><a href="about.html" class="animated_link">درباره ما</a></li>#}
{#							<li><a href="contacts.html" class="animated_link">ارتباط با ما</a></li>#}
{#						</ul>#}
{#					</nav>#}
{#					<!-- /menu -->#}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#		<!-- /container -->#}
{#	</header>#}
{#	<!-- /Header -->#}

	<section class="parallax_window_in" data-parallax="scroll" data-image-src="static/img/mazust.jpg" data-natural-width="1400"
		data-natural-height="800">
		<div id="sub_content_in">
			<h1>درباره ما</h1>
			<p> </p>
		</div>
	</section>
	<!-- /section -->

	<main id="general_page  ">
		<div class="main_title">
			<div class="container mt-5">
				<div class="row">
					<div class="col-lg-6">
						<p>دانشگاه علم و فناوری مازندران (بهشهر) یکی از دانشگاه‌های دولتی تحت نظارت وزارت علوم است که
							مختص رشته‌های مهندسی می‌باشد و در شرق استان مازندران در شهرستان بهشهر قرار دارد.

							رشته‌های فعال در این دانشگاه در مقطع کارشناسی مهندسی عمران، مهندسی صنایع، مهندسی برق، مهندسی
							شیمی، مهندسی کامپیوتر، علوم کامپیوتر، ریاضیات و کاربردها و در مقطع کارشناسی ارشد مهندسی
							عمران گرایش سازه، مهندسی شیمی گرایش فرآیندهای جداسازی، ریاضی کاربردی گرایش‌های آنالیز عددی و
							بهینه‌سازی، ریاضیات و کاربردها گرایش‌های جبر و آنالیز، مهندسی صنایع گرایش سیستم‌های کلان،
							مهندسی برق گرایش‌های سیستمهای قدرت و الکترونیک قدرت و ماشینهای الکتریکی می‌باشند.
						</p>
					</div>
					<div class="col-lg-5 ml-lg-5 add_top_30">
					</div>
				</div>
				<!-- End row -->
			</div>
		</div>
		<div class="container margin_60">
			<div class="main_title">
				<h2><em></em></h2>
				<p>
					این دانشگاه دارای سه دانشکده است: دانشکده ریاضی،[۲] دانشکده مهندسی برق و کامپیوتر، و مهندسی شیمی و
					صنایع می‌باشد. ریاست این دانشگاه قبلابر عهده حمید محمدزاده عضو هیئت علمی دانشکده ریاضی بوده[۳] و
					هم‌اکنون بر عهده دکتر احمدرضا ربانی (زاده بهشهر _ ۱۳۴۵) می‌باشد.
				</p>
			</div>
			<!--Team Carousel -->
			<div class="row">
				<div class="owl-carousel owl-theme team-carousel">
					<!-- /team-item -->
					<div class="team-item">
						<div class="team-item-img">
							<img src="/static/img/team/team-2.jpg" alt="">
							<div class="team-item-detail">
								<div class="team-item-detail-inner">
									<h4>دکتر محمد مهدی علیان نژادی</h4>
									<p>عضو هیئت علمی رشته علوم کامپیوتر</p>
									<ul class="social">
										<li><a href="#0"><i class="icon-facebook"></i></a>
										</li>
										<li><a href="#0"><i class="icon-twitter"></i></a>
										</li>
										<li><a href="#0"><i class="icon-google"></i></a>
										</li>
										<li><a href="#0"><i class="icon-linkedin"></i></a>
										</li>
									</ul>
									<a href="#0" class="btn_1 white">مشاهده پروفایل</a>
								</div>
							</div>
						</div>
						<div class="team-item-info">
							<h4>دکتر محمد مهدی علیان نژادی</h4>
							<p>عضو هیئت علمی رشته علوم کامپیوتر</p>
						</div>
					</div>
					<!-- /team-item -->
					<div class="team-item">
						<div class="team-item-img">
							<img src="/static/img/team/team-3.jpg" alt="">
							<div class="team-item-detail">
								<div class="team-item-detail-inner">
									<h4>دکتر موسی نظری پنبه چوله</h4>
									<p>دکتری هوش صنوعی</p>
									<ul class="social">
										<li><a href="#0"><i class="icon-facebook"></i></a>
										</li>
										<li><a href="#0"><i class="icon-twitter"></i></a>
										</li>
										<li><a href="#0"><i class="icon-google"></i></a>
										</li>
										<li><a href="#0"><i class="icon-linkedin"></i></a>
										</li>
									</ul>
									<a href="#0" class="btn_1 white">مشاهده پروفایل</a>
								</div>
							</div>
						</div>
						<div class="team-item-info">
							<h4> دکتر موسی نظری</h4>
							<p> دکتری هوش صنوعی</p>
						</div>
					</div>
					<!-- /team-item -->
					<div class="team-item">
						<div class="team-item-img">
							<img src="/img/team/team-4.jpg" alt="">
							<div class="team-item-detail">
								<div class="team-item-detail-inner">
									<h4>لورم ایپسوم</h4>
									<p>سمت در کار</p>
									<ul class="social">
										<li><a href="#0"><i class="icon-facebook"></i></a>
										</li>
										<li><a href="#0"><i class="icon-twitter"></i></a>
										</li>
										<li><a href="#0"><i class="icon-google"></i></a>
										</li>
										<li><a href="#0"><i class="icon-linkedin"></i></a>
										</li>
									</ul>
									<a href="#0" class="btn_1 white">مشاهده پروفایل</a>
								</div>
							</div>
						</div>
						<div class="team-item-info">
							<h4>لورم ایپسوم</h4>
							<p>مدرک تحصیلی</p>
						</div>
					</div>
					<!-- /team-item -->
				</div>
			</div>
			<!--End Team Carousel-->
		</div>
		<!-- End container -->
	</main>

	<footer class="clearfix">
		<div class="container">
			<p>© طراحی واجرا توسط </p>

		</div>
	</footer>
	<!-- end footer-->

	<div class="cd-overlay-nav">
		<span></span>
	</div>
	<!-- /cd-overlay-nav -->

	<div class="cd-overlay-content">
		<span></span>
	</div>
	<!-- /cd-overlay-content -->

	<!-- COMMON SCRIPTS -->
	<script src="/static/js/jquery-3.2.1.min.js"></script>
	<script src="/static/js/common_scripts.min.js"></script>
	<script src="/static/js/velocity.min.js"></script>
	<script src="/static/js/functions.js"></script>

	<!-- SPECIFIC SCRIPTS -->
	<script src="/static/js/parallax.min.js"></script>
	<script src="/static/js/owl-carousel.js"></script>
	<script>
		"use strict";
		$(".team-carousel").owlCarousel({
			items: 1,
			loop: false,
			margin: 10,
			autoplay: false,
			smartSpeed: 300,
			responsiveClass: false,
			responsive: {
				320: {
					items: 1,
				},
				768: {
					items: 2,
				},
				1000: {
					items: 3,
				}
			}
		});
	</script>

</body>

{% endblock %}