{% extends 'shared/_layout.html' %}

{% block title %}
ثیت نظر یا پیشنهاد
{% endblock %}

{% block content %}
    <style>
        @font-face {
            font-family: "font1";
            src: url("/static/fonts/Vazir.woff2") format("woff2"),
            url("/fonts/Vazir.woff") format("woff");
        }

        * {
            font-family: "font1";
        }

        .form-control {
            direction: rtl;
        }

        body {
            text-align: right;
        }
    </style>
    <div class="container-fluid full-height">
        <div class="row row-height">
            <div class="col-lg-6 content-left" id="left">
                <div class="content-left-wrapper">
                    <div>
                        <figure>
                            <img src="/static/img/info_graphic_1.svg" alt="" class=""/>
                        </figure>
                        <h2>پرسشنامه کرنل</h2>
                        <p>
                            پرسشنامه فارسی ناراحتی‌های اسکلتی-عضلانی کرنل (CMDQ) ابزاری کارا
                            در بررسی میزان ناراحتی‌های اسکلتی-عضلانی است که اطلاعاتی در خصوص
                            وجود و شدت احساس درد و ناراحتی، را در ۱۲ قسمت بدن شامل اندام‌های
                            گردن، شانه چپ و راست، قسمت فوقانی پشت، قسمت فوقانی بازو راست و
                            چپ، قسمت تحتانی پشت، ساعد راست و چپ، مچ چپ و راست، باسن، ران چپ
                            و راست، زانو چپ، راست و قسمت تحتانی پا راست و چپ، کف پا راست و
                            چپ به صورت خود گزارش دهی فراهم می‌کند
                        </p>
                        <a href="#0" class="btn_1 rounded">بیشتر بدانید</a>
                        <a href="#start" class="btn_1 rounded mobile_btn">بیشتر بدانید</a>
                    </div>
                    <div class="copy"> طراحی و اجرا توسط
                        <a href="alirezaesmaeili.cs@gmail.com" style="color: yellow">علیرضا اسماعیلی </a>
                        و
                        <a href="https://github.com/mmd-punisher/" style="color: yellow">محمد موسی پور</a>
                    </div>
                    {#                    <div class="copy">© 2023 CMDQ</div>#}
                </div>
            </div>

            <div class="submit step">
                <h3 class="main_question d-flex justify-content-end">
                    <strong></strong>اتمام بخش دوم
                </h3>
                <div class="summary d-flex justify-content-start">

                    <h5 dir="rtl" style="color: darkred;direction: rtl;">
                        مطمئن باشيد كليه مطالب درج شده در پاسخنامه بصورت
                        محرمانه
                        نگهدار ي خواهند شد
                    </h5>

                </div>
                <div class="form-group add_top_30 d-flex justify-content-end">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.comment.errors }}
                        {{ form.comment }}
                        <br>
                        <button type="submit" class="submit">ثبت</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}