{% extends 'shared/_layout.html' %}
{% block title %}
    پایان مرجله اول سوالات
{% endblock %}
{% block content %}
    <style>
        @font-face {
            font-family: "font1";
            src: url("/static/fonts/Vazir.woff2") format("woff2"),
            url("/fonts/Vazir.woff") format("woff");
        }

        * {
            font-family: "font1";
        }

        .form-control {
            direction: rtl;
        }

        body {
            text-align: right;
        }
    </style>
    <div class="container-fluid full-height">
        <div class="row row-height">
            <div class="col-lg-6 content-left" id="left">
                <div class="content-left-wrapper">
                    <div>
                        <figure>
                            <img src="/static/img/info_graphic_1.svg" alt="" class=""/>
                        </figure>
                        <h2>پرسشنامه کرنل</h2>
                        <p style="direction: rtl">
                            پرسشنامه فارسی ناراحتی‌های اسکلتی-عضلانی کرنل (CMDQ) ابزاری کارا
                            در بررسی میزان ناراحتی‌های اسکلتی-عضلانی است که اطلاعاتی در خصوص
                            وجود و شدت احساس درد و ناراحتی، را در ۱۲ قسمت بدن شامل اندام‌های
                            گردن، شانه چپ و راست، قسمت فوقانی پشت، قسمت فوقانی بازو راست و
                            چپ، قسمت تحتانی پشت، ساعد راست و چپ، مچ چپ و راست، باسن، ران چپ
                            و راست، زانو چپ، راست و قسمت تحتانی پا راست و چپ، کف پا راست و
                            چپ به صورت خود گزارش دهی فراهم می‌کند
                        </p>

                    </div>
                    <div class="copy"> طراحی و اجرا توسط
                        <a href="mailto:alirezaesmaeili.cs@gmail.com" style="color: yellow" target="_blank">علیرضا
                            اسماعیلی</a>
                        و
                        <a href="https://github.com/mmd-punisher/" style="color: yellow" target="_blank">محمد موسی
                            پور
                        </a><br>
                        © 2024 CMDQ
                    </div>
                </div>
            </div>
            <div class="col-lg-6 content-right">
                <div id="wizard_container">
                    <div id="middle-wizard">
                        <div class="submit step">
                            <h2 class="main_question d-flex justify-content-end">
                                <strong></strong>پایان مرحله اول سوالات
                            </h2><br>
                            <p>خیلی متشکریم که تا به اینجای کار همراه ما بودید، لطفا برای دیدن سری دوم سوالات و اتمام پرسشنامه، ادامه دهید</p>
                        </div>
                    </div>
                    <form action="{% url 'poll_2' question_id=1 %}" method="get">
                        <button type="submit" class="submit btn btn-primary">ادامه</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}