{% extends 'shared/_layout.html' %}
{% block title %}
    ارتباط با ما
{% endblock %}

{% block content %}

    <main id="general_page">
        <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25581.53680611641!2d53.541863485289014!3d36.729955284667895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f84e78bcd1281b1%3A0xa1df9c6e4a7b786a!2z2K_Yp9mG2LTar9in2Ycg2LnZhNmFINmIINmB2YbYp9mI2LHbjCDZhdin2LLZhtiv2LHYp9mG!5e0!3m2!1sfa!2s!4v1703149986311!5m2!1sfa!2s"
                width="600"
                height="450"
                allowfullscreen
                id="map_iframe"
        ></iframe>
        <!-- end map-->
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h3 class="d-flex justify-content-start">ارتباط با ما</h3>
                    <p class="d-flex justify-content-start">
                        از این قسمت برای ما تیکت ارسال کنید
                    </p>
                    <div>
                        <div id="message-contact"></div>
                        <form method="post" action="ssets/contact.php" id="contactform">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group justify-content-center">
                                        <input
                                                type="text"
                                                class="form-control"
                                                id="name_contact"
                                                name="name_contact"
                                                placeholder="نام"
                                        />
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input
                                                type="text"
                                                class="form-control"
                                                id="lastname_contact"
                                                name="lastname_contact"
                                                placeholder="نام حانوادگی"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input
                                                type="email"
                                                id="email_contact"
                                                name="email_contact"
                                                class="form-control"
                                                placeholder="ایمیل"
                                        />
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input
                                                type="text"
                                                id="phone_contact"
                                                name="phone_contact"
                                                class="form-control"
                                                placeholder="شماره تلفن"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                      <textarea
                              rows="5"
                              id="message_contact"
                              name="message_contact"
                              class="form-control"
                              style="height: 100px"
                              placeholder="پیام شما"
                      ></textarea>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" name="process" class="submit">
                                ارسال
                            </button>
                        </form>
                    </div>
                </div>
                <!-- End col lg 9 -->

                <!--End aside -->
            </div>
            <!-- end row-->
        </div>
        <!-- end container-->
    </main>

    <footer class="clearfix">
        <div class="container">
            <p>{{ messages.product }}</p>
        </div>
    </footer>
    <!-- end footer-->

    <div class="cd-overlay-nav">
        <span></span>
    </div>
    <!-- /cd-overlay-nav -->

    <div class="cd-overlay-content">
        <span></span>
    </div>
    <!-- /cd-overlay-content -->

    <!-- COMMON SCRIPTS -->
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/common_scripts.min.js"></script>
    <script src="/static/js/velocity.min.js"></script>
    <script src="/static/js/functions.js"></script>

    <!-- SPECIFIC SCRIPTS -->
    <script src="/static/assets/validate.js"></script>

{% endblock %}