<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>نظرسنجی</title>
</head>
<body>
{#<form method="post">#}
{#    {% csrf_token %}#}
{#    <h2>{{ question.question_text }}</h2>#}
{#    {{ form_2.as_p }}#}
{#    {{ form.as_p }}#}
{#    {% for item in forms_3 %}#}
{#        <h3>{{ item.question.question_text }}</h3>#}
{#        {{ item.form.as_p }}#}
{#    {% endfor %}#}
{##}
{#    <button type="submit">Submit</button>#}
{#</form>#}




<!-- poll/poll.html -->
<form method="post">
    {% csrf_token %}
    <h2>{{ question.question_text }}</h2>
    {{ form_2.as_p }}
    {{ form.as_p }}
    {% for item in forms_3 %}
        <h3>{{ item.question.question_text }}</h3>
        {{ item.form.as_p }}
    {% endfor %}

    <button type="submit">Submit</button>
</form>





{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <button type="submit">ثبت پاسخ و ادامه</button>#}
{#    </form>#}
</body>
</html>
    